@import url('web.html-ban-do-an');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
body{
   background-color: #c9d3cf;
}
#wrapper{
    width: 100%;
    height: 100vh;
}
#header{
    width: 100%;
    padding: 0px 30px;
    margin-top: 33px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu .item{
    margin-left: 20px;
}
#menu{
    list-style: none;
    display: flex;
}
#menu .item a {
    color: rgb(19, 22, 22);
    text-decoration: none;
}
#actions{
    display: flex;
}
#actions{
    margin-left: 22px;
}




#banner{
    width: 100%;
    background-image: url("anhnen.jpg");
    height: 560px;
    margin-top: 40px;
    display: flex;
    padding: 0px 133px;
    position: relative;
}
 #banner .box-left ,#banner .box-right{
    width: 50%;
 }
 #banner .box-left h2{
    font-size: 48px;
    margin-top: 75px;
    color: #fff;
 }
 #banner .box-left p{
    color: aliceblue;
 }
 #banner .box-left button{
    width: 191px;
    height: 40px;
    margin-top: 41px;
    background: #1d1b1b;
    border: none;
    outline: none;
    color: #fff;
    font-weight: bold;
    border-radius: 20px;
    transition: 0.4s;
 }
 #banner .box-left button:hover{
    background: orange;
 }

 




 #wp-products{
    padding-top: 116px;
    padding-bottom: 78px;
    padding-left: 134px;
    padding-right: 134px;
 }
#wp-products h2{
    text-align: center;
    margin-bottom: 76px;
    font-size: 32px;
    color: #626a67;
}
#list-products  {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#list-products .item{
    width: 320px;
    height: 420px;
    background: #c9d3cf;
    border-radius: 10px;
    margin-bottom: 50px;
}
#list-products .item img{
    display: block;
    margin: opx auto;
    margin-top: 17px;
}
#list-products .item .name {
   text-align: center;
   color: #0d11db;
   font-weight: bold;
   margin-top: 21px;
}
#list-products .item .desc{
   text-align: center;
   color: #626a67;
}
#list-products .item .price{
   text-align: center;
}
#list-products .item1 {
   width: 90%;
   height: 600px;
   background: #c9d3cf;
   border-radius: 10px;
   border-top: 10px;
   margin-bottom: 50px;
}







 #footer{
    width: 100%;
    background: rgb(194, 164, 164);
    height: 322px;
    margin-top: 338px;
    padding: 0px 63px;
    padding-top: 57px;
    display: flex;
    justify-content: space-around;
 }
 #footer .box{
    width: 250px;
    color: #fff;
 }
 #footer .box .quick-menu{
    margin-top: 40px;
 }
 #footer .box .quick-menu .item{
    margin-bottom: 12px;
 }
 #footer .box .quick-menu .item a{
    color: #fff;
    text-decoration: none;
 }
 #footer .box form input {
    width: 294px;
    height: 42px;
    background: transparent;
    padding-left: 20px;
    color: #fff;
    margin-top: 30px;
 }
 #footer .box form button{
    background: 5px 5px 4px black;
    width: 163px;
    height: 38px;
    margin-top: 29px;
    color: #fff;
 }